export FILE_SERVICE_SAS_URL="https://saaueanprdallcpwfs.file.core.windows.net/?sv=2022-11-02&ss=f&srt=sco&sp=rl&se=2024-08-06T08:25:17Z&st=2024-06-25T00:25:17Z&spr=https&sig=wKzcDMSSfZQgi4DOyGSYE2yz1OdDWZ%2B96j2EZTemigY%3D"
export SMB_SHARE_NAME=\\saaueanprdallcpwfs.file.core.windows.net\fs-careerpathway-nprd-all-01\careerpathfinder
export AI_CONNECTION_STRING="InstrumentationKey=2239efea-7a67-4fe8-9e93-4f7a6efd48bd;IngestionEndpoint=https://australiaeast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://australiaeast.livediagnostics.monitor.azure.com/;ApplicationId=d87c4f26-0d75-4fdb-847d-d82056844cb4"