# export FILE_SERVICE_SAS_URL="https://saaueanprdallcpwfs.file.core.windows.net/?sv=2022-11-02&ss=f&srt=sco&sp=rl&se=2024-08-06T08:25:17Z&st=2024-06-25T00:25:17Z&spr=https&sig=wKzcDMSSfZQgi4DOyGSYE2yz1OdDWZ%2B96j2EZTemigY%3D"
# export SMB_SHARE_NAME=\\saaueanprdallcpwfs.file.core.windows.net\fs-careerpathway-nprd-all-01\careerpathfinder
